#result-container {
  /* display: grid;
  justify-content: center;
  align-items: center;
  margin: auto; */

  & h3 {
    justify-self: center;
  }
  & div:nth-child(2) {
    display: flex;
    justify-content: center;

    & h4 {
      font: var(--overline);
      color: var(--content-secondary);
      margin-block: 0.25rem 2.5rem;
    }
  }
  & div:nth-child(3) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-height: 16rem;
    overflow: auto;
    scrollbar-width: none;

    & p {
      color: var(--content-brand);
      font: var(--result-number);
      padding: 1rem;
    }
  }
}